<launch>
  <!-- This launch file shows how we can set parameters from the launch file. -->

  <!-- let's set the global parameter: -->
  <param name="robot_name" value="rob_ott" type="str" />
  
  <!-- Setting output='screen' is how we make sure we can see print and log
       statements. By default, all printing in a launch file just goes to log
       files. -->
  <node name="fake_1" pkg="ros_names_and_remapping" type="fake_robot.py" output="screen">
	<!-- putting a 'param' tag inside of the node tag makes it automatically
	     private: -->
	<param name="timestep" value="0.01" type="double" />
  </node>

  <!-- We could also set the above private parameter using  -->

  <!-- <param name="fake_1/timestep" value="0.02" type="double" /> -->

  <!-- or -->

  <!-- <group ns="fake_1"> -->
  <!-- 	<param name="timestep" value="0.03" type="double" /> -->
  <!-- </group> -->
  
</launch>
